ion-content {
    div {
        &.text-container {
            font-size: 25px;
            line-height: 1.5;
            text-align: center
        }

        &.button-container {
            padding: 50px 0px;
            button {
                display: block;
                width: 80%;
                margin: 7% 10%;
                height: 50px;
                font-size: 20px;
            }
        }
    }
}