<ion-header>
</ion-header>

<ion-content>
    <div class="logo-container">
        <img src="assets/logo/Happy60plus.png">
    </div>
    <div class="text-container">
        Welcome to Happy60Plus!<br>
        your help buddy to enable and empower you
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="login('user')">I'm a Senior Citizen!</button>
        <button mat-raised-button color="accent" (click)="login('serviceProvider')">I'm a Service Provider!</button>
    </div>

</ion-content>