<ion-header>
    <ion-toolbar>
        <ion-title>Events</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" scrollable [(ngModel)]="eventListType">
        <ion-segment-button value="CURRENT">
            <ion-label>Current</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ONGOING">
            <ion-label>Ongoing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="REQUEST">
            <ion-label>Request</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="eventListType">
        <div class="current-event-container" *ngSwitchCase="'CURRENT'">
            <ion-list class="event-list">
                <mat-card class="event-card" *ngFor="let event of eventList">
                    <mat-card-header>
                        <div mat-card-avatar class="event-icon">
                            <ion-icon name="{{event.icon}}"></ion-icon>
                        </div>
                        <mat-card-title>{{event.title}}</mat-card-title>
                        <mat-card-subtitle>{{event.type}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="event-description-container">
                            {{event.description}}
                        </div>
                        <div class="date-container">
                            <span class="key"> Date</span>
                            <span class="value"> {{event.date}}</span>
                        </div>
                        <div class="time-container">
                            <span class="key"> Time</span>
                            <span class="value"> {{event.time}}</span>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="primary">Book</button>
                        <button mat-stroked-button>Share</button>
                    </mat-card-actions>
                </mat-card>
            </ion-list>

            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>